# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=midterm_data_pipeline2

# PySpark Master Configuration
SPARK_MASTER=spark://172.22.144.1:7077

# FastAPI Configuration
API_HOST=0.0.0.0
API_PORT=8000
